
    
      
    * {
        box-sizing: border-box;
      }
      
      .row {
        display: flex;
      }
      
      
      .column {
        flex: 33.33%;
        padding: 5px;

      }
      .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
      }
      .default:hover {
        background: #e7e7e7;
      }
      .sa{ 
    border: 1px solid gray;
    padding: 10px;
      }
      
    .ss2{

    background-color: black;
    color: white;
     }
     .down-content p {
        padding: 25px 0px;
        margin: 25px 0px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
    }
     
     
